.leftSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2.5;
     /* height: 100vh;  overflow occurs so deduct height of navbar */
     height: calc(100vh - 60px);
}

.item {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 10px;
    margin-bottom: 20px;
}

.item:hover {
    background-color: wheat;
    border-radius: 40px;
    cursor: pointer;
    padding: 1px;
}

.icon {
    margin: 3px 5px;
}

.text {
    margin: 3px 5px;
}
