.post {
    display: flex;
    background-color: #FFF;
    flex: 1;
    margin: auto;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #F7F9FA;
}
.post:hover {
    background-color: #F8F9FB;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.top {
    display: flex;
    justify-content: space-between;
}
.post_pic {
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    object-fit: contain;
    border-radius: 20px;
}

.post_container {
    display: flex;
    flex-direction: column;
}

.username {
    color: #3B3F43;
    margin: 5px 7px;
    padding: 3px;
}
.time {
    color: gray;
    font-size: small;
    padding: 3px;
    margin: 5px 7px;
}

.post_desc {
    color : #464747;
    font-size: 19px;
    margin: 5px 7px;
}
.like_container {
    display: flex;
    align-items: center;

}
.like{
    display: flex;
    color : gray;
    margin: 7px;
}
.like:hover {
    color : green;
}
.like_text {
    margin-left: 5px;
}